# Data Preprocessing

Importing the libraries

In [7]:
# Helps Performs mathemataical equations
import numpy as np
# Helps us plot charts
import matplotlib.pyplot as plt
# Helps import datasets
import pandas as pd

Importing the dataset

In [10]:
dataset = pd.read_csv('Data.csv')

# Get all rows, and all column excluding the last one
x = dataset.iloc[:, :-1].values
# Get all rows, and only the last column
y = dataset.iloc[:, -1].values

In [ ]:
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [ ]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

# Taking care of missing data

In [ ]:
# replace missing data by the average of all salaries

# Helps with predictive analytics
from sklearn.impute import SimpleImputer
# Imputer arguments: missing values, replace with strategy 'mean'
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# Get missing entries count 
# Reference: https://datatofish.com/count-nan-pandas-dataframe/
df = pd.DataFrame(dataset)
missing_entries_count = df.isna().sum().sum()

# Use 'fit' method will connect the imputer to them matrix of features. Range from 1-3 for age, and salary.
imputer.fit(x[:, 1:3])
# Use 'transform' method to apply the imputer, replacing missing data with the mean.
# Assign it to x[:, 1:3] to replace the current columns.
x[:, 1:3] = imputer.transform(x[:, 1:3])

In [25]:
print(missing_entries_count)

2

In [12]:
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]